---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

/* Sticky Navbar */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }

  /* Add padding to the main content to account for the sticky navbar */
main {
  padding-top: 60px; /* Adjust this value depending on the height of your navbar */
}


.social-icons {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.social-icons a {
  color: #333;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5; /* Change this to any color you want on hover */
}
