<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ '/posts' | prepend: site.baseurl }}">Posts</a></li>
          <li><a href="{{ '/assets/Maximo_Oliveira_CV.pdf' | prepend: site.baseurl }}">CV</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

  </body>
</html>
